
ELASTIC_HOST=http://elasticsearch:9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=<your-secure-password>


MISP_URL=https://misp:443
MISP_KEY=<your-secure-key>
MISP_VERIFY_SSL=False


MISP_TLP_TAG=tlp:green
MISP_CLEAN_DISTRIBUTION=1
MISP_CORROBORATED_DIST=1
MISP_CVE_EXPLOITED_DIST=1


MISP_PUSH_WORKERS=12
MISP_PUSH_DELAY=0.05
MISP_SEARCH_DELAY=0.02
MISP_BULK_FLUSH=500


MYSQL_ROOT_PASSWORD=<your-secure-password>
MYSQL_DATABASE=misp
MYSQL_USER=misp
MYSQL_PASSWORD=<your-secure-password>

REDIS_PASSWORD=<your-secure-password>

MISP_ADMIN_EMAIL=admin@admin.test
MISP_ADMIN_PASSPHRASE=<your-secure-password>
MISP_REST_CLIENT_BASEURL=https://misp:443
BASE_URL=https://misp:443
MISP_EXTERNAL_BASEURL=https://misp:443
ADMIN_KEY=<your-admin-key>
