NVD_API_KEY=<your_nvd_api_key_here>
ABUSE_API_KEY=<your_abuse_api_key_here>
OTX_API_KEY=<your_otx_api_key_here>

WEBHOOK_URL=http://localhost:5678/

ELASTIC_HOST=http://elasticsearch:9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=<your_elastic_password_here>

KIBANA_SYSTEM_PASSWORD=<your_kibana_system_password_here>

KIBANA_SERVICE_TOKEN=<your_kibana_service_token_here>
# To create a service token, run the following command in the elasticsearch container: if the container fails to do it 
#docker exec elasticsearch elasticsearch-service-tokens create elastic/kibana kibana_token



PLAY_SECRET_KEY=<your_play_secret_key_here>
CORTEX_API_KEY=<your_cortex_api_key_here>
CORTEX_URL=http://cortex:9001
SCORER_BATCH_SIZE=500
SCORER_IOC_WORKERS=4
SCORER_POLL_INTERVAL=30

DATA_MODE=elasticsearch
ES_SOURCE_INDEX=ti_ip,ti_url,ti_domain,ti_hash,ti_cve,ti_wallet,ti_ransomware
MAX_DOCS=200000


OPENROUTER_API_KEY=<your_openerouter_api_key_here>
OPENROUTER_MODEL=<openerouter_model_here>
OPENROUTER_FALLBACK_MODELS=<openerouter_fallback_models_here> 
LLM_CALL_TIMEOUT=180           
LLM_MAX=10
SKIP_LLM=false
OUTPUT_DIR=output
CONTAMINATION_MAX=0.03         
FEEDBACK_BACKFILL_EVENT_ID=true
REPORT_MAX_DETAIL_IOCS=250     
ML_CONTAMINATION=0.02


MISP_URL=https://misp:443/
MISP_KEY=<your_misp_key_here>
MISP_VERIFY_SSL=false
MISP_ENABLED=true

FEEDBACK_LOOP_SECONDS=1800
FEEDBACK_RETRAIN_MIN_TOTAL_SIGNAL=200
FEEDBACK_RETRAIN_COOLDOWN_SECONDS=21600
FEEDBACK_RETRAIN_FRESH_DAYS=14

TRAIN_MIN_DOCS=50
TRAIN_MIN_SIGHTINGS=2
TRAIN_MAX_DOCS=20000
CONTAMINATION_MAX=0.05